MONGODB_CONNECTION_STRING = mongodb connection url
GOOGLE_CLIENT_ID = google-api-client-id
GOOGLE_CLIENT_SECRET = google-api-client-secret
REDIRECT_URI = http://localhost:5000/admin/login/callback
ADMIN_EMAILS = test1@test.com,test2@test.com