@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


body {
    font-family: "Playfair Display", serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.nav{
    background-color: #0e0e0e;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 12px;
}

.badge {
    margin-left: 20px;
    color: #00d507; /* Green for Admin text */
    border: 2px solid #00d507; /* Green border */
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 12px;
    text-align: center;
}

.button-container {
    font-family: "Hanken Grotesk", sans-serif;
    display: flex;
    justify-content: flex-end; 
    gap: 40%; 
    margin-top: 10px;
    margin-right: 10px;
}

.view-users {
    font-family: "Hanken Grotesk", sans-serif;
    background-color: #0f0f0f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    transition: background 0.3s ease;
}

.view-users a {
    color: #fff;
    text-decoration: none; 
}

.view-users:hover {
    background-color: #212121;
}

.logout-button {
    background-color: #ff0400;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.logout-button a {
    color: #fff;
    text-decoration: none; 
}

.logout-button:hover {
    background-color: #d60400;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}
.card {
    height: 10rem;
    width: 10rem;
    border-radius: 2px;
    border-style: solid;
    border-color: #0e0e0e;
    padding:0 7px 0 7px;
    background-color: #fff;
    text-align: center;
}
.stat {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0e0e0e;
    margin-top: 10px;
}