body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.nav{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.button-container {
    display: flex;
    justify-content: flex-end; 
    gap: 40%; 
    margin-top: 10px;
    margin-right: 10px;
}

.view-users {
    background-color: #004a9a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    transition: background 0.3s ease;
}

.view-users a {
    color: #fff;
    text-decoration: none; 
}

.view-users:hover {
    background-color: #0064ce;
}

.logout-button {
    background-color: #ff0400;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.logout-button a {
    color: #fff;
    text-decoration: none; 
}

.logout-button:hover {
    background-color: #d60400;
}

