body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.nav{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.button-container {
    display: flex;
    justify-content: flex-end; 
    gap: 40%; 
    margin-top: 10px;
    margin-right: 10px;
}



.toggle {
    background-color: #0044ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.toggle:hover {
    background-color: #0019b9;
}


.toggle-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
}


.file-button{
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    transition: background 0.3s ease;
    width: 100%;
}

.title-area{
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    transition: background 0.3s ease;
    width: 100%;
}

.description-area{
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    transition: background 0.3s ease;
    width: 100%;
}
.upload-button {
    background-color: #00bb1f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    transition: background 0.3s ease;
}

.upload-button:hover {
    background-color: #007906;
}


.logout-button {
    background-color: #ff0400;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.logout-button a {
    color: #fff;
    text-decoration: none; 
}

.logout-button:hover {
    background-color: #d60400;
}