body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(26, 26, 26, 0.1);
}

.logout-button {
    background-color: #ff0400;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    transition: background 0.3s ease;
}

.logout-button a {
    color: #fff;
    text-decoration: none; 
}

.logout-button:hover {
    background-color: #d60400;
}