@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


body {
    font-family: "Playfair Display", serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    font-family: "Hanken Grotesk", sans-serif;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(26, 26, 26, 0.1);
    
}

h2 {
    margin-bottom: 20px;
    color: #000000;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #000000;
}

input {
    width: 95%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background: #0f0f0f;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    
}

button:hover {
    background: #212121;
}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.flashes .success {
    background: #dff0d8;
    color: #00ae03;
}

.flashes .danger {
    background: #f2dede;
    color: #ff0400;
}

.category-dropdown {
    background-color: #fff;
    border: 1px solid #e5e7eb;
    font-size: 16px;
    color: #333;
    border-radius: 6px;
    padding: 12px 15px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.category-dropdown:focus {
    border-color: #3b82f6;
}

