@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body {
    font-family: Arial, sans-serif; 
    background-color: #f4f4f4; 
    color: #333; 
    margin: 0;
    padding: 0;
}

.nav{
    font-family: "Playfair Display", serif;
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
    padding: 20px; 
    justify-content: center; 
}

.user-container {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    width: 180px; 
    background-color: #fff; 
    text-align: center; 
}

.user-container p {
    font-size: 16px;
    margin: 0 0 12px;
    color: #333; 
}

.user-container button {
    background-color: #004a9a;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.user-container button:hover {
    background-color: #0064ce; 
}

.user-container a{
    text-decoration: none;
    color: #ffffff;
}

/* Table container */
.table-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    color: #333;
}

thead {
    background-color: #f1f1f1;
    text-align: left;
    font-weight: bold;
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f9f9f9;
}

th {
    border-bottom: 2px solid #ddd;
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Mobile responsive */
@media (max-width: 768px) {
    .table-container {
        padding: 10px;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 10px 12px;
    }
}