{% extends "base.html" %}

{% block content %}
<h2>Register</h2>
<form method="POST" action="{{ url_for('forgot_password') }}">

    <label for="username">Username:</label>
    <input type="text" name="username" required>

    <label for="security_answer">Answer to Security Question:</label>
    <input type="text" name="security_answer" required>

    <label for="new_password">New Password:</label>
    <input type="password" name="new_password" required>

    <button type="submit">Reset Password</button>
</form>
<p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
{% endblock %}
