<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beehive</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    <div class="container">
        <img src = "{{url_for('static', filename='Logo.svg')}}" alt="Beehive Logo" class="logo">
        <h1>Beehive</h1>
        <p>A Data Federation Approach to Analyze Behavioral Health and Supplement Healthcare Practice with 
            Community Health Metrics in Alaska.</p>
        
        <p>This project aims to analyze behavioral health and supplement healthcare practice with
            community health metrics in Alaska using a data federation approach.<br>
            By leveraging data from various sources,<br>
            we can gain insights into behavioral health patterns and improve healthcare practices in the community.</p><br><br>

        <a href="{{ url_for('login') }}"><button>Get Started</button></a>
    </div>
</body>
</html>