{% extends "base.html" %}

{% block content %}
<h2>Login</h2>
<form method="POST" action="{{ url_for('login') }}">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" placeholder="Username" required>
    
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Password" required>
    
    <button type="submit">Login</button>
</form>

<div class="google-signin">
    <p>Or</p>
    <a href="{{ url_for('login_google') }}">
        <button class="google-button">
            <span class="google-button-text">Sign in with Google</span>
        </button>
    </a>
</div>

<p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
<p>If you're admin, <a href="{{ url_for('signingoogle') }}">Sign in here.</a></p>
{% endblock %}