<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <script>
        function toggleUploadForm() {
            var uploadForm = document.getElementById("uploadForm");
            uploadForm.style.display = (uploadForm.style.display === 'none' || uploadForm.style.display === '') ? 'block' : 'none';
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Welcome to your Profile Page, {{ username }}!</h1>
        <h3>{{ full_name }}</h3>
        <button class="logout-button"><a href="{{ url_for('logout') }}">Logout</a></button><hr>
    
        <button class = "toggle" onclick="toggleUploadForm()">Upload Images</button><br><br>
        
        <div id="uploadForm" style="display: none;">
            <form action="{{ url_for('upload_image') }}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" required><br>
                <input type="text" name="title" placeholder="Title" required><br>
                <textarea name="description" placeholder="Description" required></textarea>
                <button class="upload-button" type="submit">Upload</button>
            </form>
        </div>
    </div>
    
</body>
</html>
