<!-- profile.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <script>
        function toggleUploadForm() {
            var uploadForm = document.getElementById('uploadForm');
            if (uploadForm.style.display === 'none' || uploadForm.style.display === '') {
                uploadForm.style.display = 'block';
            } 
            else {
                uploadForm.style.display = 'none';
            }
        }

        function toggleMoreInfo(imageId) {
            var moreInfo = document.getElementById('moreInfo_' + imageId);
            if (moreInfo.style.display === 'none' || moreInfo.style.display === '') {
                moreInfo.style.display = 'block';
            } else {
                moreInfo.style.display = 'none';
            }
        }

        function toggleEditForm(imageId) {
            var editForm = document.getElementById('editForm_' + imageId);
            if (editForm.style.display === 'none' || editForm.style.display === '') {
                editForm.style.display = 'block';
            } else {
                editForm.style.display = 'none';
            }
        }


        function previewImage(imageSrc) {
            var modal = document.getElementById('imagePreviewModal');
            var previewImg = document.getElementById('previewImage');
            previewImg.src = imageSrc;
            modal.style.display = 'flex'; // Show the modal
        }

        function closePreview() {
            var modal = document.getElementById('imagePreviewModal');
            modal.style.display = 'none'; // Hide the modal
        }

        // Close modal on pressing ESC key
        document.addEventListener('keydown', function (event) {
            if (event.key === "Escape") {
                closePreview();
            }
        });

        setTimeout(function() {
      var flashMessages = document.querySelector(".flash-messages");
      if (flashMessages) {
        flashMessages.style.opacity = "0";
        setTimeout(() => flashMessages.style.display = "none", 500);
      }
    }, 5000);

        function validateFile(input) {
            const allowedTypes = ['image/jpeg', 'image/jpg', 'image/png', 'image/gif', 'image/webp', 'image/heif', 'application/pdf'];
            const uploadButton = document.getElementById('uploadButton');
            const fileError = document.getElementById('fileError');
            
            if (input.files && input.files[0]) {
                const file = input.files[0];
                const fileExtension = file.name.split('.').pop().toLowerCase();
                
                if (!allowedTypes.includes(file.type) || 
                    !['jpg', 'jpeg', 'png', 'gif', 'webp', 'heif', 'pdf'].includes(fileExtension)) {
                    uploadButton.disabled = true;
                    fileError.style.display = 'block';
                    input.value = ''; // Clear the file input
                } else {
                    uploadButton.disabled = false;
                    fileError.style.display = 'none';
                }
            }
        }

        let mediaRecorder;
    let audioChunks = [];

    function startRecording() {
        var element = document.getElementById("recordingStatus");
        if (element) console.log("true");
        element.style.opacity = "1";
        element.style.display = "block";
        setTimeout(() => {
                    document.getElementById("recordingStatus").style.opacity = '0';
                    setTimeout(() => {
                    document.getElementById("recordingStatus").style.display = 'none';
                    }, 500); 
                }, 1000);
        navigator.mediaDevices.getUserMedia({ audio: true })
            .then(stream => {
                mediaRecorder = new MediaRecorder(stream);
                audioChunks = [];
                
                mediaRecorder.ondataavailable = event => {
                    audioChunks.push(event.data);
                };

                mediaRecorder.onstop = () => {
                    const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
                    const audioUrl = URL.createObjectURL(audioBlob);
                    document.getElementById('audioPlayback').src = audioUrl;
                    document.getElementById('audioPlayback').style.display = 'block';

                    // Convert to Base64
                    const reader = new FileReader();
                    reader.readAsDataURL(audioBlob);
                    reader.onloadend = () => {
                        document.getElementById('audioData').value = reader.result;
                    };
                };

                mediaRecorder.start();
                document.getElementById("stopBtn").disabled = false;
            })
            .catch(error => {
                alert("Microphone access denied!");
                console.error(error);
            });
    }

    function stopRecording() {
        if (mediaRecorder) {
            mediaRecorder.stop();
            document.getElementById("stopBtn").disabled = true;
            var resetBtn = document.getElementById("resetBtn");
            if (resetBtn) {
                resetBtn.style.display = 'inline';
            }
        }
    }

    function resetRecording() {
    document.getElementById('audioPlayback').src = "";
    document.getElementById('audioPlayback').style.display = 'none';
    document.getElementById('audioData').value = "";
    var resetBtn = document.getElementById("resetBtn");
    if(resetBtn) resetBtn.style.display = 'none';
}

function handleUpload(event) {
    event.preventDefault(); 

    let button = document.getElementById("uploadButton");
    let form = document.getElementById("upload-form");

    if (!form.checkValidity()) {
        form.reportValidity(); // Show validation messages if any before animation
        return; 
    }
    button.classList.add("active");

    setTimeout(() => {
        button.classList.remove("active");
        form.requestSubmit();
    }, 2000); 
}

    </script>
</head>
<body>
    <div class="nav">
        <h1>{{ username }}</h1>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flash-messages">
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

    <div class="button-container">
        <button class="toggle" onclick="toggleUploadForm()">Upload Images</button>
        <button class="logout-button"><a href="{{ url_for('logout') }}">Logout</a></button>
    </div>

    <div class="toggle-container">
        <div id="uploadForm" style="display: none;">
            <form action="{{ url_for('upload_image') }}" method="post" enctype="multipart/form-data" id="upload-form">
                <input class="file-button" type="file" name="file" id="fileInput" accept=".jpg,.jpeg,.png,.gif,.webp,.heif,.pdf" required onchange="validateFile(this)"><br>
                <input class="title-area" type="text" name="title" placeholder="Title" required><br>
                <textarea class="description-area" name="description" placeholder="Description" required></textarea><br>
                
                <button type="button" onclick="startRecording()" class="record-btn">Start Recording</button>
                <button type="button" onclick="stopRecording()" class="stop-btn" disabled id="stopBtn">Stop Recording</button>
                <button type="button" onclick="resetRecording()" id="resetBtn" class="reset-btn" style="display: none;"> Reset Recording</button>
                <audio id="audioPlayback" controls style="display: none;"></audio>
    
                <input type="hidden" name="audioData" id="audioData">
                <button class="uploadButton" id="uploadButton" type="submit" onclick="handleUpload(event)">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect class="border" pathLength="100"></rect>
                        <rect class="loading" pathLength="100"></rect>
                    </svg>
                    <div class="txt-upload">Upload</div>
                </button>
                <div id="fileError" style="color: red; display: none;">Invalid file type. Only jpg, jpeg, png, gif, webp,heif and pdf files are allowed.</div>
            </form>
        </div>
    </div>

    <h2 style="text-align: center;">Uploaded Images</h2>
    <div class="image-container">
        {% for image in images %}
        <div class="image-card">
            <img 
                src="{{ url_for('static', filename='uploads/' ~ image.filename) }}" 
                alt="{{ image.title }}" 
                onclick="previewImage(this.src)" 
                style="cursor: pointer;"
            >
            <h3>{{ image.title }}</h3>
            <p>{{ image.description }}</p>
            <button class="more-info-button" onclick="toggleMoreInfo('{{ image.id }}')">More Info</button>
            <div id="moreInfo_{{ image.id }}" class="more-info" style="display: none;">
                <button class="edit-button" onclick="toggleEditForm('{{ image.id }}')">Edit</button>
                <div id="editForm_{{ image.id }}" class="edit-form" style="display: none;"><br><br>
                    <form action="{{ url_for('edit_image', image_id=image.id) }}" class="edit-form" method="post">
                        <input type="text" name="title" value="{{ image.title }}" class="text-input" required>
                        <textarea name="description" class="text-input" required>{{ image.description }}</textarea>
                        <button type="submit" class="update-button">Update</button>
                    </form>
                </div><br><br>
                <a href="{{ url_for('delete_image_route', image_id=image.id) }}" class="delete-button">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="imagePreviewModal" class="image-preview-modal">
        <span class="close-btn" onclick="closePreview()">&times;</span>
        <img id="previewImage" src="" alt="Preview">
    </div>
    <div class="recordingStatus" id="recordingStatus" style="display: none;">Recording in Progress...</div>
    {% include 'footer.html' %}
    <script src="https://unpkg.com/wavesurfer.js"></script>
</body>
</html>
