<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/userlist.css') }}">
    <title>Beehive Users</title>
</head>
<body>
    <div class="nav">
        <h1>Beehive Users</h1>
    </div>
    <button id="downloadCsvBtn" class="download-btn">Download</button>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Mail ID</th>
                    <th>Account Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.mail_id }}</td>
                    <td>{{ user.account_created_at }}</td>
                    <td>
                        <a href="{{ url_for('user_images_show', username=user.username) }}">View Profile</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'footer.html' %}
    
</body>
<script>
    document.getElementById("downloadCsvBtn").addEventListener("click", function () {
        let table = document.querySelector("table"); 
        let rows = table.querySelectorAll("tr"); 
        let csvContent = "";

        rows.forEach((row, rowIndex) => {
            let cols = row.querySelectorAll("th, td"); 
            let rowData = [];

            cols.forEach((col, colIndex) => {
                let totalCols = cols.length;
                if (colIndex !== totalCols - 1) { // Exclude the last column (Actions)
                    rowData.push(`"${col.innerText}"`);
                }
            });

            csvContent += rowData.join(",") + "\n"; 
        });

        let blob = new Blob([csvContent], { type: "text/csv" });
        let link = document.createElement("a");
        link.href = URL.createObjectURL(blob);
        link.download = "beehive_users_list.csv"; 
        link.click(); 
    });
</script>
</html>
